<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Skeletorizr</title>

    <!-- Le styles -->
    <link type="text/css" rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.0.0.min.css">
    <link href="http://twitter.github.com/bootstrap/assets/css/docs.css" rel="stylesheet" type="text/css">

    <!-- Le javascript -->
    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
    <link href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">
    <script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/application.js"></script>
  </head>

  <body onload="prettyPrint()">

    <a href="http://github.com/fcsonline/skeletonizr"><img style="position: absolute; z-index: 20000; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>

    <div class="topbar">
      <div class="container fixed">
        <h3><a class="logo" href="#">
          <!-- <img src="assets/img/twitter-logo-no-bird.png" alt="Twitter" /> --> <span>Skeletonizr</span>
        </a></h3>
        <ul>
          <li class="active"><a href="#introduction">Introduction</a></li>
          <li><a href="#tech">Technology</a></li>
          <li><a href="#application">Application</a></li>
          <li><a href="#source">Source Code</a></li>
        </ul>

        <form action="">
          <input type="text" placeholder="Search" />
        </form>
        <ul class="nav secondary-nav">
          <li class="menu">
            <a href="#" class="menu">Dropdown</a>
            <ul class="menu-dropdown">
              <li><a href="">Secondary link</a></li>
              <li><a href="">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="">Another link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div id="masthead">
      <div class="inner">
        <div class="container">
          <h1>Skeletonizr</h1>
          <p class="lead">
            Skeletor's Backbone is a client-side framework for accessing and using the RegOnline API.<br />
            It makes building JavaScript applications against the RegOnline API as easy as pie.<br />
          </p>
          <p><strong>Nerd alert:</strong> We're doing some cool stuff in here.</p>
        </div> <!-- /container -->
      </div>
    </div>

    <div class="container">
        <section id="introduction">
            <div class="page-header">
              <h1>Introduction <small>The skinny on the skelly</small></h1>
            </div>
            <div class="row">
              <div class="span16 columns">
                <p>
                This project is JavaScript object model for RegOnline built on top of <a href="http://documentcloud.github.com/backbone">backbone.js</a> and using the <a href="http://developer.regonline.com/">RegOnline API</a> to hydrate the models.
                The purpose of this project is to build a client side framework that will support the development of rich client applications against the RegOnline API for both internal and external developers.
                </p>
                <p>
                    We encourage users to fork this repository and issue pull requests for changes that you feel would benefit the development community.
                </p>
              </div>
            </div>
        </section>
        <section id="tech">
            <div class="page-header">
              <h1>Technology <small>The tech behind the bones</small></h1>
            </div>
            <div class="row">
                <p>
                This project is JavaScript object model for RegOnline built on top of <a href="http://documentcloud.github.com/backbone">backbone.js</a> and using the <a href="http://developer.regonline.com/">RegOnline API</a> to hydrate the models.
                The purpose of this project is to build a client side framework that will support the development of rich client applications against the RegOnline API for both internal and external developers.
                </p>
      <table>
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Property</th>
            <th>Value</th>
            <th>Scope</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>Backend technology</td>
            <td>
              <select id="technology" name="">
                <option value="">Select a backend technology...</option>
                <option value="node+express">Node.js + Express.js</option>
                <option value="django">Django</option>
                <option value="struts">Struts</option>
              </select>
            </td>
            <td>Backend</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Backend database</td>
            <td>
              <select id="database" name="">
                <option value="">Select a database technology...</option>
                <option value="mongodb">MongoDB</option>
                <option value="couchdb">CouchDB</option>
                <option value="sqllite">SQL Lite</option>
                <option value="mysql">MySQL</option>
              </select>
            </td>
            <td>Backend</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Frontend technology</td>
            <td>Backbone.js</td>
            <td>Frontend</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Frontend template technology</td>
            <td>Underscore.js</td>
            <td>Frontend</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Section</td>
            <td>Home</td>
            <td>Frontend</td>
            <td>
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Section</td>
            <td>Profile</td>
            <td>Frontend</td>
            <td>
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Entity</td>
            <td>Customer</td>
            <td>Global</td>
            <td>
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Entity</td>
            <td>Department</td>
            <td>Global</td>
            <td>
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>Entity</td>
            <td>Employee</td>
            <td>Global</td>
            <td>
              <a href="#">Edit</a>
              <a href="#">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
            </div>
            <div class="row">
              <div class="span4 columns">
                <h2>Backbone.js</h2>
                <p>
                    <a href="http://documentcloud.github.com/backbone/">Backbone.js</a> is a client side MVC framework which connects to the RegOnline API over JSON.
                </p>



              </div>
              <div class="span12 columns">
                <h3>Example Model</h3>
                <p>This is an example of a sample Backbone Model.</p>
            <pre class="prettyprint linenums">
window.Todo = Backbone.Model.extend({

    defaults: function() {
      return {
        done:  false,
        order: Todos.nextOrder()
      };
    },

    toggle: function() {
      this.save({done: !this.get(&quot;done&quot;)});
    }
  });
            </pre>
                <h3>Example View</h3>
                <p>This is an example of a sample Backbone View.</p>
            <pre class="prettyprint linenums">
window.TodoView = Backbone.View.extend({

    tagName:  &quot;li&quot;,

    template: _.template($(&#39;#item-template&#39;).html()),

    events: {
      &quot;click .check&quot;              : &quot;toggleDone&quot;,
      &quot;dblclick div.todo-text&quot;    : &quot;edit&quot;,
      &quot;click span.todo-destroy&quot;   : &quot;clear&quot;,
      &quot;keypress .todo-input&quot;      : &quot;updateOnEnter&quot;
    },

    initialize: function() {
      this.model.bind(&#39;change&#39;, this.render, this);
      this.model.bind(&#39;destroy&#39;, this.remove, this);
    },

    render: function() {
      $(this.el).html(this.template(this.model.toJSON()));
      this.setText();
      return this;
    },

    setText: function() {
      var text = this.model.get(&#39;text&#39;);
      this.$(&#39;.todo-text&#39;).text(text);
      this.input = this.$(&#39;.todo-input&#39;);
      this.input.bind(&#39;blur&#39;, _.bind(this.close, this)).val(text);
    },

    toggleDone: function() {
      this.model.toggle();
    },

    edit: function() {
      $(this.el).addClass(&quot;editing&quot;);
      this.input.focus();
    },

    close: function() {
      this.model.save({text: this.input.val()});
      $(this.el).removeClass(&quot;editing&quot;);
    },

    updateOnEnter: function(e) {
      if (e.keyCode == 13) this.close();
    },

    remove: function() {
      $(this.el).remove();
    },

    clear: function() {
      this.model.destroy();
    }

  });

            </pre>
                <h3>Example Controller (Router)</h3>
                <p>This is an example of a sample Backbone Router (previously called a controller).</p>
            <pre class="prettyprint linenums">
var AppRouter = Backbone.Router.extend({
    routes: {
        "/events": "events",
        "/events/:id": "showEvent",
        "/events/:id/registrations": "registrations",
        "/events/:id/registration/:rid": "showRegistration",
        "": "index"
    },

    index: function() {
        this.clearSections();
        $("section#user").show();
        var loginView = new LoginView();
    },

    showEvent: function(id) {
        this.clearSections();
        $("section#event").show();
        var eventView = new EventView();
    },

    showRegistration: function(id) {
        this.clearSections();
        $("section#registration").show();
        var registraitonView = new RegistrationView();
    },

    events: function() {
        this.clearSections();
        $("section#events").show();
        var eventCollection = new Events({filter: 'Title.Contains("Testing")', orderBy: ''});
        var eventsView = new EventListView();
    },

    registrations: function() {
        this.clearSections();
        $("section#registrations").show();
        var registrationList = new RegistrationListView();
    },

    clearSections: function() {
        $("section").hide();
        setTimeout("$('.alert-message').fadeOut()", 7000);
    }
});
            </pre>
          </div>
        </div>



        <div class="row">
          <div class="span4 columns">
            <h2>Twitter's Bootstrap</h2>
            <p>
              <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> is a UI toolkit from Twitter which includes a base
              CSS class and the associated assets which drive the layout of the Skeletor project. 
            </p>
          </div>
          <div class="span12 columns">
            <h3>Screenshot</h3>
            <img src="bootstrap.png" alt="screenshoot"/>
          </div>

        </div>
        </section>

        <section id="application">
        <div class="page-header">
          <h1>Sample Application <small>Basic sample use</small></h1>
        </div>
        <div class="row">
          <div class="span16 columns">
            <p>
              There is a basic application written using Backbone.js and the RegOnline API.  The application allows
              you to log in to your RegOnline account, see a list of events, and registrations. 
            </p>
            <a href="app" class="btn large primary">Launch Application</a>
          </div>
        </div>
        </section>
        <section id="source">
        <div class="page-header">
          <h1>Source Code <small>For your enjoyment</small></h1>
        </div>
        <div class="row">
          <div class="span16 columns">
            <p>
              The source code for this project is available on GitHub.
            </p>
            <a href="https://github.com/regonline/skeletor" class="btn large primary">View Source</a>
          </div>
        </div>
        </section>
      </div>

    </body>

  </html>
